/* Stile per le parti da cambiare */


.box{
    position: relative;
    width: 100%;
    height: max-content;

    padding: 20px;
    display: grid;
    grid-template-areas:
    "data it safety";

    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 20px;
    
    background: rgba(59, 89, 147, 0.11);
}



.data{
    grid-area: data;
    width: 100%;

    background: var(--white);
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0,0,0 ,0.15);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.it{
    grid-area: it;
    width: 100%;

    background: var(--white);
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0,0,0 ,0.15);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    height: auto;
}





.safety{
    grid-area: safety;
    width: 100%;

    background: var(--white);
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0,0,0 ,0.15);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.box ul{
    list-style: none;
    color: var(--black2);

    
    list-style: none;
    background: transparent;
}

.box ul li{
    padding: 5px;
}

.box ul li a{
    text-decoration: none;
    color: var(--black2);
    text-decoration: underline;
}